<!DOCTYPE html>
<html>
<head>
    <title>📖 本を追加-<%= pagetitle %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>📖 新しい本を登録</h1>
    <form name="add_form" method="POST" action="/add">
        <label>タイトル: <input type="text" name="title" required></label><br>
        <label>著者: <input type="text" name="author"></label><br>
        <label>ページ数: <input type="number" name="total_pages" required></label><br>
        <label>しおり（背景色）: <input id="color" 
                                    type="color" 
                                    name="color" 
                                    value="#ff9999" 
                                    list="color-picker"></label>
                                <datalist id="color-picker">
                                    <option value="#ff9999"/>
                                    <option value="#7FD554"/>
                                    <option value="#87AFFF"/>
                                </datalist>
        <button type="button" id="add-btn">追加</button>
        <script type="text/javascript" src="/js/addscript.js"></script>
        <button id="button" type="button">テスト</button>
        <script type="text/javascript" src="/js/colorscript.js"></script>
    </form>

    <br>
    <div id="result">
        <!--表示される色-->
        <ul>
            <li class="test-list">
                <small>更新日 2000-03-07 12:00:00</small><br>
                <strong>タイトル</strong>- 作者（0/999ページ）
            </li>
        </ul>
    </div>    
    <a href="/">← 戻る</a>
    
</body>
</html>